<div id="main" style= "width: 800px">
  <div id="mainbody">
      <div class="article">
        <div class="headline">
           <h2 class="title">Integracão Contínua</h2>
        </div>
        <p>
        Integração Contínua é uma pratica de desenvolvimento de software onde os membros de uma equipe integram seu trabalho frequentemente. É um dos pilares da agilidade e sua grande vantagem está no feedback instantâneo.
        </p>
        <p style="text-align: center"><img class="with-shadow" alt="" src="../images/continuos-integration.png"  height="300" width="400"/></p>
        <p>
           A cada interação é relalizada uma verificação por um build automatizado (incluindo testes) para detectar erros e notificar a equipe o mais rápido possível.
          Essa abordagem leva a uma redução significativa nos problemas de integração e permite que uma equipe desenvolva softwares coesos.

        </p>

      </div>
    </div>
      <div class="clear"></div>
  </div>
</div>

