 <div class="abr-container ">

	  <div class="grid_9" style= "width: 100%">

        <div id="mainbody">
          <div class="article">
            <div class="headline">
              <h1 class="article-title green">Serviços</h1>
              <div class="clear"></div>
            </div>


            <h2 class="highlighted_text" style="background: #FFFFFF">
             <br />Nosso centro de soluções oferece consultoria tercnologica para sua necessidade. Desenvolvemos projetos e/ou partes de projetos visando sempre o sucesso de seu negócio. <br /> <br />
Nossa premissa é a qualidade, para isto trabalhamos com as melhores praticas de gestão e controle.
Abaixo uma amostra das plataformas que trabalhamos :

	  <div class="clear"></div>&nbsp;&nbsp;
          <div align="center">
           <img width="800" height="180" align="middle" src="../images/plataforma.png">
          </div>
            </h2>



          </div>
        </div>
      </div>
	  <!--fim grid_9  -->

	  <div class="clear"></div>
</div>

