  <div id="main">

   <div class="abr-container ">
    <div class="grid_9" style= "width: 100%">

        <div id="mainbody">
          <div class="article">
            <div class="headline">
                 <h1 class="article-title green">Serviços</h1>
              <div class="clear"></div>
            </div>
               <p>
                Prezamos a criatividade no desenvolvimento de softwares e a liberdade na escolha das linguagens utilizadas, aplicamos os fundamentos de gestão ágil de projetos como uma ferramenta que aumenta a qualidade e maximiza o ROI (Return of Investiment) de um projeto.
                <br /> <br />Possuimos expertise nas mais diversas plataformas tecnológicas, incluindo Java, .NET, Ruby, Python e Android.

               </p>
                <br /><br />
              <div align="center">
               <img width="860" align="middle" src="../images/plataforma.png">
              </div>

            <br />

           <h2 class="title">Integração Contínua</h2>
           <p>

            Oferecemos as melhores ferramentas para um ambiente de desenvolvimento robusto e funcional alem de treinarmos sua equipe de maneira autilizar as ferramentas disponíveis da melhor forma.
            <h2 class="title" style="background: #FFF">Ferramentas</h2>

           <b>Redmine</b> – Um excelente project manager (issue tracker, com fóruns e Wiki).  <br />
           <b>Git</b> – Repositório de código distribuído.  <br />
           <b>Subversion</b> – Repositório de código centralizado mais usado no mundo.  <br />
           <b>Hudson</b> – Integração contínua.  <br />
           <b>Nexus</b> – Gerenciador de bibliotecas para o maven.  <br />
           <b>Sonar</b> - Ferramenta de gerenciamento de qualidade do codigo.  <br />

            <h2 class="title" style="background: #FFF">Benefícios</h2>
            <ul>
               <li> Aumentar a eficiência do seu desenvolvimento. </li>
               <li> Implantar melhores práticas. </li>
               <li> Organizar de seus processos. </li>
               <li> Implantar métodos de desenvolvimento ágil. </li>
               <li> Resolosução de problemas na utilização das ferramentas. </li>
            </ul>
            <br />

           <div id='basic-modal'>
              <a class="basic learn-more" href="#">Leia mais...</a>
           </div>

           </p>

          <div id="basic-modal-content">
            <%= render :partial => '/services/continuos'%>
          </div>

          <div style='display:none'>
              <img src='../images/basic/x.png' alt='' />
          </div>

           <h2 class="title">Software Studio (Ateliê de Software)</h2>
           <p>
              Um ateliê é o lugar de trabalho de pessoas com vontade de criar e onde se pode experimentar, manipular e produzir um ou mais tipos de arte.<br /> <br />
              Conhecemos os riscos e dificuldades para alcançar o sucesso em um projeto. Todo esse processo envolve criatividade, atividade intelectual, dedicação e muito trabalho, por isso acreditamos que software bem feito é arte.
              <br /><br />
               <h2 class="title" style="background: #FFF">Nossos princípios:</h2>
               <h2 class="title" style="background: #FFF">1. Qualidade</h2>
                <ul>
                  <li>Nossos profissionais possuem vasta experiência em desenvolvimento de software, mantendo cuidado especial em relação à qualidade dos serviços que prestamos.</li>
                  <li>Nosso objetivo é satisfazer o cliente com um software que atenda suas expectativas.</li>
                  <li>Utilizamos técnicas de engenharia como TDD - Test Driven Development, BDD - Behavior Driven Development e Integração Contínua para garantir a qualidade.</li>
                </ul>
               <h2 class="title" style="background: #FFF">2. Escopo variável</h2>
                    <ul>
                      <li>Softwares evoluem rapidamente, assim como a necessidade daqueles que os utilizam. Acreditamos e estimulamos as mudanças, por isso sugerimos a utilização do escopo variável.</li>
                      <li>Relacionamento com o cliente é transparente e baseia-se em confiança.</li>
                      <li>Buscamos oferecer retorno sobre o investimento (ROI) o tempo inteiro.</li>

                    </ul>
               <h2 class="title" style="background: #FFF">3. Objetividade e Simplicidade</h2>

                    <ul>
                      <li>Optamos pela objetividade e simplicidade como filosofia.</li>
                      <li>Prezamos nossa estrutura enxuta, o que nos permite maior agilidade nos processos, mais proximidade com nossos clientes e a realização de trabalhos personalizados.</li>
                      <li>Essa filosofia é ideal para os que querem fazer mais com menos. Nós acreditamos nisso.</li>
                    </ul>

              </p>
    <br />






            <h2 class="title">Startups</h2>
            <p>
            Uma startup é um grupo de pessoas à procura de um modelo de negócios repetível e escalável. Para isso, é necessário ser persistente, acreditar e inovar, além de possuir conhecimento e experiência na área.<br /><br />
            Gerenciamos o desenvolvimento de software para sua empresa diminuindo os riscos, focando em negócios e transformando seu trabalho em dinheiro. <br /><br />O modelo de negócio é baseado na geração de valor, que significa crescer cada vez mais. Crescer em receita, acumulando lucros e gerando cada vez mais riqueza para sua empresa e  em contrapartida um crescimento lento dos custos.
            <br/><br/>
            Apostamos na sua idéia e em nossa competência criativa.
           </p>


          </div>
        </div>
      </div>
    <!--fim grid_9  -->

	    <div class="clear"></div>
  </div>
</div>

