<div class="grid_6">
  <div class="latestPosts">
    <div class="abr-block">
     <!-- <h2 class="title">Twitter</h2> -->
      <div style="overflow: hidden;" id="posts">
        <ul style="left: 0px; width: 1840px;">
	      <li>
		      <p>
		        <h1>Contato:</h1>
		        E-mail: contato@alkkmya.com.br<br />
		        Twitter: @alkkmya<br />
		        Telefone: (11) 8109-7919<br />
			    </p>
	      </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--
<div class="grid_6">
  <div class="testimonials">
    <div class="abr-block">
      <h2 class="title">Últimos posts</h2>
      <div style="overflow: hidden;" id="posts">
        <ul style="left: 0px; width: 1840px;">
          <li>
            <p>
		        </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- fim grid_6 -->

