 <div class="abr-container ">

	  <div class="grid_9">

        <div id="mainbody">
          <div class="article">
            <div class="headline">
              <h1 class="article-title green">Bem vindo a uma nova visão!</h1>
              <div class="clear"></div>
            </div>
            <h2 class="highlighted_text">
            A Alkkmya Software Studio nasce de uma nova mentalidade de desenvolvimento de software, o qual exige soluções eficazes e ágeis para um mundo em constante mudança.<br / >
            <br />Somos Profissionais criativos e experientes, para nós Software é uma arte que deve ser feita com base nas melhores práticas e com foco na solução.
para nós Software é uma arte que deve ser feita com base nas melhores práticas e com foco na solução.
            </h2>
          </div>
        </div>
   <h2 class="title">Nossa filosofia</h2>
        <div id="content-bottom" style="background-color: whitesmoke; margin: 10px">
          <div class="abr-container">
            <div class="grid_3 abr-alpha">
              <div class="step1"></div>
            </div>

		        <div class="grid_3">
              <div class="step2"></div>
            </div>

            <div class="grid_3 abr-omega">
              <div class="step3"></div>
            </div>

           </div>
        </div>
		<!-- fim content_bottom -->
      </div>
	  <!--fim grid_9  -->

      <div class="grid_3">
        <div id="sidebar-b">
          <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Login</h2>
          </div>

          <div class="mainnewsletter">
            <div class="normalsublayout">
                <form accept-charset="UTF-8" action="/prospects" class="new_prospect" data-remote="true" id="new_prospect" method="post">
				            <p>Usuário: <input id="prospect_name" name="prospect[name]" size="15"  type="text"></p>
                    <p>Senha: <input id="prospect_email" name="prospect[email]" size="15" type="text"></p>
                    <p><input class="btn blue small" id="addSubscriber" name="commit" value="Entar" type="submit"></p>
                </form>
              </div>
          </div>

        </div>
      </div>
		<!-- fim sidebar b -->

	  </div>
	  <!-- fim grid 3 -->

	  <div class="clear"></div>
</div>



<div id="mainbottom">
  <div class="abr-container ">
    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Software útil, garantia de retorno</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <p><a class="learn-more" href="#">Saiba mais</a></p>
      </div>
    </div>

    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Nossa filosofia, Know-why</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <p><a class="learn-more" href="#">Saiba mais</a></p>
    </div>

    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Manifesto ágil</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <p><a class="learn-more" href="#">Saiba mais</a></p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- end mainbottom -->

