 <div class="abr-container ">

	  <div class="grid_9">

        <div id="mainbody">
          <div class="article">
            <div class="headline">
              <h1 class="article-title green">Lorem ipsum dolor sit amet</h1>
              <div class="clear"></div>
            </div>
            <h2 class="highlighted_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius commodo odio, vel consequat lectus ultrices vitae.</h2>
          </div>
        </div>

        <div id="content-bottom">
          <div class="abr-container ">
            <div class="grid_3 abr-alpha">
              <div class="step1">
                <div class="abr-block">
                  <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                </div>
              </div>
            </div>


		   <div class="grid_3">
              <div class="step2">
                <div class="abr-block">
                  <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                </div>
              </div>
            </div>

            <div class="grid_3 abr-omega">
              <div class="step3">
                <div class="abr-block">
                  <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                </div>
              </div>
            </div>
           </div>
        </div>
		<!-- fim content_bottom -->
      </div>
	  <!--fim grid_9  -->

      <div class="grid_3">
        <div id="sidebar-b">
          <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Login</h2>
          </div>
          <div class="mainnewsletter">
            <div class="normalsublayout">
                <form accept-charset="UTF-8" action="/prospects" class="new_prospect" data-remote="true" id="new_prospect" method="post">
				    <p>Usuario: <input id="prospect_name" name="prospect[name]" size="15"  type="text"></p>
                    <p>Senha: <input id="prospect_email" name="prospect[email]" size="15" type="text"></p>
                    <p><input class="btn blue small" id="addSubscriber" name="commit" value="Entar" type="submit"></p>
                </form>
              </div>
          </div>
        </div>
        </div>
		<!-- fim sidebar b -->

	  </div>
	  <!-- fim grid 3 -->

	  <div class="clear"></div>
</div>

