<div id="mainbottom">
  <div class="abr-container ">

    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Lorem ipsum dolor sit amet</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <p><a class="learn-more" href="#">Saiba mais</a></p>
      </div>
    </div>

    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Lorem ipsum dolor sit amet</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <p><a class="learn-more" href="#">Saiba mais</a></p>
    </div>

    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Lorem ipsum dolor sit amet</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <p><a class="learn-more" href="#">Saiba mais</a></p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div><!-- END mainbottom -->

