 <div class="abr-container ">

	  <div class="grid_9">

        <div id="mainbody">
          <div class="article">

            <div class="headline">
              <h1 class="article-title green">Bem vindo a uma nova visão!</h1>
              <div class="clear"></div>
            </div>

            <h2 class="highlighted_text">

                  A Alkkmya Software Studio nasce de uma nova mentalidade de desenvolvimento de software, que exige soluções eficazes e ágeis para um mundo em constante mudança.<br /><br />
Atentos aos movimentos do mercado e tendências, buscamos por melhoria contínua nos processos, no desenvolvimento de novos produtos e serviços, nos antecipamos às mudanças e buscamos atender nossos clientes com soluções criativas e inovadoras.<br /><br />
            </h2>
          </div>
        </div>
   <h2 class="title" style="background: #FFF">Nossa filosofia</h2>
        <div id="content-bottom" style="background-color: whitesmoke; margin: 10px">
          <div class="abr-container">
            <div class="grid_3 abr-alpha">
              <div class="step1"></div>
            </div>

		        <div class="grid_3">
              <div class="step2"></div>
            </div>

            <div class="grid_3 abr-omega">
              <div class="step3"></div>
            </div>

           </div>
        </div>
		<!-- fim content_bottom -->
      </div>
	  <!--fim grid_9  -->

      <div class="grid_3">
        <div id="sidebar-b">
          <div class="abr-block">

          <div class="module-title">
            <h2 class="title">Login</h2>
          </div>

          <div class="mainnewsletter">
            <div class="normalsublayout">
                <form accept-charset="UTF-8" action="" class="new_prospect" method="post">
				            <p>Usuário: <input id="prospect_name" size="15"  type="text"></p>
                    <p>Senha: <input id="prospect_email" size="15" type="text"></p>
                    <p><input class="btn blue small" id="addSubscriber" value="Entar" type="submit"></p>
                </form>
              </div>
          </div>

          <div class="module-title">
            <h2 class="title">Parceiros</h2>
          </div>

          <div class="mainnewsletter">
            <div class="normalsublayout">

              </div>
          </div>



        </div>
      </div>
		<!-- fim sidebar b -->

	  </div>
	  <!-- fim grid 3 -->

	  <div class="clear"></div>
</div>



<div id="mainbottom">
  <div class="abr-container ">

    <div class="grid_4" style="width: 35%">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Software útil, garantia de retorno.</h2>
          </div>
          <p>

          Reduzir o desperdício ou otimizar qualquer forma de trabalho é um grande desafio, pois não basta apenas eliminar tarefas...


          </p>
        </div>
        <p><a class="learn-more" href="#">Saiba mais</a></p>
      </div>
    </div>

    <div class="grid_4" style="width: 35%">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Possuimos know-how e know-why.</h2>
          </div>
          <p>
            Não basta apenas ter o know-how ou saber fazer as coisas, é preciso ter o know-why...

          </p>
        </div>
      </div>
      <p><a class="learn-more" href="#">Saiba mais</a></p>
    </div>

  </div>
  <div class="clear"></div>
</div>

<!-- end mainbottom -->

