<div id="main">
   <div class="abr-container ">
	    <div class="grid_9" style= "width: 100%">

          <div id="mainbody">
            <div class="article">
              <div class="headline">
                 <h1 class="article-title green">Software útil, garantia de retorno.</h1>
                <div class="clear"></div>
              </div>
              <p>
              Reduzir o desperdício ou otimizar qualquer forma de trabalho é um grande desafio, pois não basta apenas eliminar tarefas.</p>
               <p><a class="learn-more" href="javascript:history.back(0)">Voltar</a></p>
          </div>
          </div>
        </div>
	    <!--fim grid_9  -->

	    <div class="clear"></div>
  </div>
</div>

