 <div class="abr-container ">
  <div class="grid_9">
      <div id="mainbody">
          <div class="article">
           <div class="headline">
              <h1 class="article-title green">Bem vindo a uma nova visão!</h1>
              <div class="clear"></div>
            </div>

            <h2 class="highlighted_text" style="background: #FFFFFF">
              Por favor, utilize o formulário abaixo para entrar em contato conosco.
            </h2>
            <%= render 'form' %>
         </div>
      </div>
   </div>
	  <!--fim grid_9  -->
	<div class="clear"></div>
</div>

