<div class="abr-container ">

  <div class="grid_9"  style= "width: 100%">

      <div id="mainbody">
        <div class="article">

          <div class="headline">
            <h1 class="article-title green">Por que Alkkmya?</h1>
            <div class="clear"></div>
          </div>

          <h2 class="highlighted_text" style="background: #FFFFFF">
               A Alquimia é uma prática que combina conhecimentos diversos, nesta prática se destacam a Transmutação e o Elixir da Vida.
           <br /><br />
           </h2>

          <div id="mainbottom">
            <div class="abr-container ">
              <div class="grid_4">
                <div class="modLeft">
                  <div class="abr-block">
                    <div class="module-title">
                     <p style="text-align: center">Nossa filosofia, Know-why</p>
                     </div>
                    <p style="text-align: center">
                        <img width="200"  height="150" src="../images/customizado.png" alt="" align="middle"/>
                    </p>
                  </div>
                </div>
              </div>

              <div class="grid_4">
                <div class="modLeft">
                  <div class="abr-block">
                    <div class="module-title">
                      <p style="text-align: center">Nossa filosofia, Know-why</png>
                    </div>
                    <p style="text-align: center">
                     <img width="200"  height="150" src="../images/idea.png" alt="" align="middle"/>
                    </p>
                  </div>
                </div>
              </div>

              <div class="grid_4">
                <div class="modLeft">
                  <div class="abr-block">
                    <div class="module-title">
                     <p style="text-align: center">Nossa filosofia, Know-why</png>
                     </div>
                    <p style="text-align: center">
                          <img width="100"  height="150" src="../images/elixir.png" alt="" align="middle"/>

                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        <!-- end mainbottom -->

      <div class="clear"></div>

        </div>
      <!--fim article  -->
      </div>
      <!--fim mainbody  -->

     <div class="clear"></div>

      <div class="headline">
        <h1 class="article-title green">Os Alquimistas</h1>
        <div class="clear"></div>
      </div>


      <h2>Renato Passero</h2>
         <p>
         Atua na área de tecnologia da informação desde 2002 como analista de sistemas/processos e nos ultimos 2 anos como Gerente de projetos.
         Graduado em Ciência da Computação pela FIPP/UNOESTE e especialização em Gestão de processos de negócios pela UFRJ.
         <br /><br />
         Áreas de interesse: Gestão de Processos, Metodologias Ágeis e Engenharia de Software.
        </p>

      <h2>Jorge Avelar</h2>
         <p>
         Atua na área de tecnologia da informação desde 2002 como analista de sistemas/processos e nos ultimos 2 anos como Gerente de projetos.
         Graduado em Ciência da Computação pela FIPP/UNOESTE e especialização em Gestão de processos de negócios pela UFRJ.
         <br /><br />
         Áreas de interesse: Gestão de Processos, Metodologias Ágeis e Engenharia de Software.
        </p>
  <div class="clear"></div>
    </div>
  <!--fim grid_9  -->

  <div class="clear"></div>

</div>

