<div class="abr-container ">
  <div class="grid_9"  style= "width: 100%">

      <div id="mainbody">
        <div class="article">

          <div class="headline">
            <h1 class="article-title green">Por que Alkkmya?</h1>
            <div class="clear"></div>
          </div>

           <p>
            Assim como os alquimistas, somos um grupo de pesquisadores, estudiosos na busca constante de nossos objetivos: a <b>Qualidade, Simplicidade e Objetividade.</b><br /><br />
            Desenvolvemos software artesanalmente, com muita dedicação, atenção e responsabilidade, buscamos a compreensão dos processos, extraindo o máximo da qualidade e valor. Nossa empresa é uma oficina de criatividade, formada por pessoas que gostam de trabalhar, aprender, inovar e buscamos evoluir pessoal e profissionalmente.
           </p>

          <div class="clear"></div>

        </div>
      <!--fim article  -->
      </div>
      <!--fim mainbody  -->

      <div class="headline">
        <h1 class="article-title green">Os Alquimistas</h1>
        <div class="clear"></div>
      </div>


 <h2 class="title" style="background: #FFF">Renato Passero</h2>
         <p>
         Atua na área de tecnologia da informação desde 2002 como analista de sistemas/processos e nos ultimos 2 anos como Gerente de projetos.
         Graduado em Ciência da Computação pela FIPP/UNOESTE e especialização em Gestão de processos de negócios pela UFRJ.
         <br /><br />
         Áreas de interesse: Gestão de Processos, Metodologias Ágeis e Engenharia de Software.
        </p>
<br />
       <h2 class="title" style="background: #FFF">Jorge Avelar</h2>
         <p>
           Programador Java, Ruby, Python, Shell Script, usuário de Linux desde 2001, fã de Slackware, FreeBSD e sistema Unix-Like em geral. Atua na área de tecnologia da informação desde 2001 como desenvolvedor de software, apaixonado pela filosofia Open Source.<br />
          <br />
           Nas horas vagas gosta de fazer trilhas (Ilhabela, São Sebastião, Paraty), ouvir um bom e velho Heavy Metal, Hard Rock e Rock'n Roll.<br />

          <br />
         Áreas de interesse: Java, Ruby, Python, Unix-Like, Metodologias Ágeis e Engenharia de Software.
        </p>
  <div class="clear"></div>
    </div>
  <!--fim grid_9  -->

  <div class="clear"></div>

</div>

