

	 <div class="abr-container ">

	  <div class="grid_9" style= "width: 100%">

        <div id="mainbody">
          <div class="article">
            <div class="headline">
              <h1 class="article-title green">EOS - ERP Solution</h1>
              <div class="clear"></div>
            </div>
			      <p><img width="600" class="with-shadow" alt="" src="" /><br>
			      <h3 class="text"></h3>
			      <p>Em breve mais detalhes e versão de demonstração no site...</p>
        </div>
        </div>
      </div>
	  <!--fim grid_9  -->

	  <div class="clear"></div>
</div>

