 <div class="abr-container ">

	  <div class="grid_9" style= "width: 100%">

        <div id="mainbody">
          <div class="article">
            <div class="headline">
              <h1 class="article-title green">Produtos</h1>
              <div class="clear"></div>
            </div>

           <p>
              Nossos produtos são desenvolvidos nos maiores padrões de qualidade de software.<br />
              Todos podem ser customizados de acordo com as necessidades do cliente.
           <p>
          </div>
        </div>
      </div>
	  <!--fim grid_9  -->

	  <div class="clear"></div>
</div>

<div id="mainbottom">
  <div class="abr-container ">

    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">Takion - Gerenciador de Chamados</h2>
          </div>
          <p>
            Gerenciador de Chamados/SLA Simples e Completo.
          </p>
        </div>
        <p><a class="learn-more" href="#">Saiba mais</a></p>
      </div>
    </div>

    <div class="grid_4">
      <div class="modLeft">
        <div class="abr-block">
          <div class="module-title">
            <h2 class="title">EOS - ERP Solution</h2>
          </div>
          <p>
            Uma solução ERP para todos os tamanhos de empresa.
          </p>
        </div>
        <p><a class="learn-more" href="#">Saiba mais</a></p>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

<!-- end mainbottom -->

