<div id="main">

    <div class="abr-container ">

      <div class="grid_9" style= "width: 100%">

          <div id="mainbody">
            <div class="article">
              <div class="headline">
                 <h1 class="article-title green">Takion - Gerenciador de Chamados</h1>
                <div class="clear"></div>
              </div>
              <p>Takion é um gerenciador de chamados simples e completo.<br>É indicado a empresas que executam atendimento de suporte de sistemas ou serviços em todos os níveis.
              <br />Sua interface apresenta uma visão completa dos atendimentos possibilitando a analise e melhoria dos processos internos</p>Funcionalidades do Takion :</p>
              <p><img width="800" class="with-shadow" alt="" src="../images/processose_mapas.png" /><br>
              <p>Em breve versão de demonstração no site...</p>
             <p><a class="learn-more" href="javascript:history.back(0)">Voltar</a></p>

          </div>
          </div>
        </div>
      <!--fim grid_9  -->

      <div class="clear"></div>
    </div>
</div>

