<div id="footer">
  <div class="grid_2" style="text-align:center; width:98%">
    <div class="copyright">
      <div class="abr-block">
        <span style="color: #f9f9f9;">© 2011 Alkkmya Software Studio. All rights reserved.</span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- fim footer-->

