<div id="header">
  <div class="abr-container">
    <div class="abr-container-pad">

	  <div class="grid_3 abr-alpha logo_container">
        <a id="logo" href="/home/index"></a>
      </div>

      <div class="grid_9 abr-omega">
        <ul class="sf-menu sf-js-enabled">
          <li class="first-child"><a href="/home/index"><span>Home</span></a></li>
          <li class="parent"><a class="sf-with-ul" href="/about/index"><span>Os Alquimistas</span><span class="sf-sub-indicator"></span></a></li>
          <li class="parent"><a class="sf-with-ul" href="/services/index"><span>Serviços</span><span class="sf-sub-indicator"></span></a></li>
          <li class="parent"><a class="sf-with-ul" href="/products/index"><span>Produtos</span><span class="sf-sub-indicator"></span></a></li>
          <li class="last-child"><a href="/contacts/new"><span>Contato</span></a></li>
        </ul>
      </div>
	    <!-- fim menu -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- fim abr-container-->
</div>
<!-- fim header-->

