<!DOCTYPE html>
<html>
<head>
  <title>Alkkmya Software Studio</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="index, follow">

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="header">
  <div class="abr-container ">
    <div class="abr-container-pad">
      <div class="grid_3 abr-alpha logo_container">
        <a id="logo" href="/home/index"></a>
      </div><!-- End Header -->

      <div class="grid_9 abr-omega">
        <ul class="sf-menu sf-js-enabled">
          <li class="first-child"><a href="/about/index"><span>Quem Somos?</span></a></li>
          <li><a href="/products/index"><span>Produtos</span><span class="sf-sub-indicator"></span></a></li>
          <li><a href="/services/index"><span>Serviços</span><span class="sf-sub-indicator"></span></a></li>
          <li><a href="#"><span>Blog</span></a></li>
          <li class="last-child"><a href="/contacts/new"><span>Contato</span></a></li>
        </ul><!-- End menu -->

      </div><!-- End Header Grid 10 -->
      <div class="clear"></div>
    </div><!-- End ABR CONTAINER PAD -->
  </div><!-- End ABR CONTAINER -->
</div><!-- End HEADER -->
<div class="headerFix"></div>

<div class="notice"></div>
<div class="alert"></div>

<%= yield %>

<div id="bottom">

  <div id="footer">
    <div class="grid_2" style="text-align:center; width:98%">
      <div class="copyright">
        <div class="abr-block">
          <br>
          <p>© 2011 Alkkmya. All rights reserved.</p>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div> <!-- END Bottom -->

 </body>
</html>

